.ogmo-modal{display:none;position:fixed;z-index:2147483646!important;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,.4)}

.ogmo-modal-close:focus,.ogmo-modal-close:hover{color:#000;text-decoration:none;cursor:pointer}

.ogmo-web-frame-viewer{overflow:hidden!important;width:1px!important;height:1px!important;min-width:100%;min-height:100%;border:none!important;display:block;margin:0 auto;position:fixed;z-index:2147483646!important;}

.ogmo-modal-content{position:fixed;width:100%!important;height:100%!important;left:0!important;top:0!important;padding:0!important}

.ogmo-modal-close{color:#000;font-size:30px;font-weight:700;position:absolute;left:100%;top:0;transform:translate(calc(-100% + -7px),calc(-24% + 16px));-webkit-transform:translate(calc(-100% + -7px),calc(-26% + 16px));padding:1rem;z-index:2147483647!important}
